@green: #699f6d;
@blue: #2635a5;
@red: #a52626;
@grey: #c0c0c0;

@dark: #3a3631;
@darkorange: rgba(172,101,39,0.8);
@greyorange: #e8e7e5;
@footerheight: 180px;

@page-background: #fafafa;
@cell-background: #e9eff3;
@cell-background-processing: #bfe0ca;
@cell-background-error: #e0c5bf;
@text-color: #1b2d37;
@text-color-grey: #8c9aa2;