
div.cell-configure-all {
	margin-bottom: 10px;
}

div.cell {

	height: 40px;
	border: 1px solid @text-color-grey;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: @cell-background;
	border-radius: 2px;
	margin-bottom: 10px;
		
	color: @text-color;
	.label {
		color: @text-color;
	}

	padding-left: 0px;
	padding-right: 0px;




	&.cell-running {
		height: 240px;
	}


	.cell-main-info {

		.cell-area {
			color: @text-color-grey;
			font-size: 0.8em;
		}

		.channel-check {
			margin-left: 5px;
		}

		
		font-size: 1.1em;
		height: 40px;
		line-height: 40px;

		input[type="checkbox"] {
			position: relative;
			top: -2px;
		}

		.btn-cl {
			margin-top: 4px;
		}
	}

	.cell-actions {

		> div {
			line-height: 28px;
			font-size: 1em;
		}

		.label {
			text-align: center;
			color: @text-color-grey;
		}
	}


	.record {
		float: right;
		margin-right: 3px;
		margin-top: -6px;
		color: @red;
		font-size: 0.8em;
		cursor: pointer;
	}

	.cell-summary {


		.cell-status {

			&.active {
				color: @green;
			}

			> div {
				margin: 10px;
			}

			background-color: @page-background;
			font-size: 1.3em;
			height: 120px;
		}


		text-align: center;

		> div {

			padding-top: 10px;

			.label {
				font-size: 1.1em;
			}
			
			.value {
				font-size: 1.1em;
				whitespace: no-wrap;
				color: @green;
			}


			background-color: @page-background;
			height: 60px;
			border-left: 2px solid @cell-background;
			border-bottom: 2px solid @cell-background;
			border-right: 2px solid @cell-background;
		}


		.cell-efficiency {
			background-color: @cell-background;
			
			padding: 0px;
		}
	}


	.cell-timing {
		
		div {
			text-align: center;
		}
		color: @text-color-grey;
		margin-bottom: 4px;
	}
	

	.cell-actions {

		button {
		float: left;
		}
	}

	&.toprow {
		border: 1px solid transparent;
		background-color: transparent;
		height: 33px;
		margin-bottom: 0px;
	}

	.bar {

		height: 3px;
		width: 100%;
		cursor: pointer;

		:after {
			clear: both;
		}

		> div {
			height: 3px;
			float: left;
			overflow: hidden;
		}

		.barGreen {
			background-color: #195196;
			border-bottom-left-radius: 5px;
			color: white;
		}

		.barRed {
			background-color: #bd7117;
			color: white;
		}
	}

	.action {
		cursor: pointer;
	}
}
