
.group-status {
	border: 1px solid @text-color-grey;
	border-radius: 2px;

	flex: 1;
	background-color: @cell-background;
	margin: 10px;
	padding-bottom: 10px;
	.status-error {
		color: @brand-danger;
	}
}

	