
body.report {

	font-size: 0.8em;


	h3 {
		font-size: 1.5em;
		margin-bottom: 10px;
	}

	h4 {
		font-size: 1.1em;
	}

	.info {
		font-weight: bold;
	}

	.footer {
		color: #777777;
		border-top: 1px solid #777777;
		margin: 4px;
		padding: 5px;
	}

	.row.ivData {

		font-weight: bold;
		&.ivHead {
			font-weight: normal;

			nobr {
				font-size: 0.8em;
			}

			margin-bottom: 5px;
		}

		div.col-xs-2 {
			padding-left: 3px;
			padding-right: 3px;

			&:first-child {
				padding-left: 15px;
			}
		}
	}

	.color-series-style-0 {
		color: #9f1616 !important;
	}

	.color-series-style-1 {
		color: #9f8016 !important;
	}

	.color-series-style-2 {
		color: #8a9f16 !important;
	}

	.color-series-style-3 {
		color: #169f3a !important;
	}

	.color-series-style-4 {
		color: #16949f !important;
	}

	.color-series-style-5 {
		color: #16409f !important;
	}
}