@green: #7bc382;
@blue: #2635a5;
@red: #a52626;
@grey: #c0c0c0;

@dark: #3a3631;
@darkorange: rgba(172,101,39,0.8);
@greyorange: #e8e7e5;
@footerheight: 180px;

@page-background: #3f3f3f;
@cell-background: #1c1c1c;
@text-color: #efefef;
@text-color-grey: #bfbfbf;