.top-buffer { margin-top:10px; }

.view-list button {
	margin-left: 5px;
	margin-right: 5px;
}

span.error {
	border-bottom: 1px dotted #000;
	cursor: pointer;
}

span.error:hover {
	color: #c0c0c0;
	border-bottom: 1px dotted #c0c0c0;
	
}

span.error:after {
	content: '?';
	vertical-align: super;
	font-size: 0.6em;

}